@media screen and (max-width: 1280px)
	
	header
		.h__top
			.h__contacts_wrap
				flex-direction: column
				justify-content: space-between
				align-items: flex-end
				height: 80%	
				margin-top: 7px


@media screen and (max-width: 1090px)
	
	.main, .h__body_prod
		padding-left: 15px
		padding-right: 15px

@media screen and (max-width: 980px)
	
	header
		.h__top
			padding: 10px 10px 15px
			height: auto

			.h__menu_wrap, .h__logo_wrap, .h__contacts_wrap
				width: 100%	
		
			.h__menu_wrap
				text-align: center
			
			.h__logo_wrap
				margin: 15px 0 5px

			.h__contacts_wrap
				justify-content: center
				align-items: center
				flex-direction: row

				.header__busket 
					margin-left: 20px
					position: relative
					top: 5px

				.phone-block
					background: none
					overflow: hidden
					padding-left: 0
	
	.main
		.card__main-right
			.descrip
				margin-bottom: 50px


@media screen and (max-width: 850px)

	.main__right
	
		.products
			display: flex
			flex-wrap: wrap
			justify-content: flex-start 

			.product
				width: 33%
				line-height: 30px
				display: flex
				flex-direction: column-reverse
				padding: 0 1.7%
				margin-bottom: 40px
				box-sizing: border-box

	.main
		.card__main-right
			.descrip
				margin-bottom: 50px
				float: none
				width: 100%

			.price
				width: 100%
				float: none
				box-sizing: border-box
				border: 1px solid #d0d0d1

				.price__amount 
					font-family: "OpenSansRegular"
					font-size: 48px
					padding: 50px 30px 30px
					text-align: center

				.price__buy
					width: 80%
					margin-right: auto
					margin-left: auto

			.cross-sale
				margin-top: 30px

	footer
		.f__menu_wrap
			margin-left: 30px

		.f__contacts_wrap

		.phone-block
			background: none
			padding-left: 0

@media screen and (max-width: 768px)

	h2
		margin-bottom: 10px

	.main
		.main__filter
			width: 100%
			float: none
			margin-bottom: 30px

			.main__filter-title
				margin-bottom: 30px

			.main__filter-block
				margin-bottom: 0
				form
					label
						display: inline-block
						margin-bottom: 10px
						cursor: pointer
						margin-right: 15px

						span
							padding-left: 15px
		
		.main__right
		
			.odering
				text-align: right
				color: #353535
				letter-spacing: 3px
				font-family: "RobotoCondensedRegular"
				margin-bottom: 30px
				float: left
				form
					float: right
					margin-left: 15px

					select 
						font-size: 17px
						font-family: "RobotoCondensedRegular"
						letter-spacing: 2px
						border: none

			.products
				clear: both
				display: flex
				flex-wrap: wrap
				justify-content: flex-start 

			.main__pagination
				margin-top: 115px
				overflow: hidden
				width: 100%

				ul
					width: 100%
					float: none

	footer	
		height: auto
		padding-bottom: 15px

		.f__menu_wrap
			float: right
		.f__contacts_wrap

			.phone-block
				background: none
				padding-left: 0


@media screen and (max-width: 640px)
	
	.h__body_prod

		h1
			font-size: 26px
			letter-spacing: 1.2px
			font-family: "RobotoCondensedRegular"
			color: #363636
			width: 100%
			float: none

	.h__cod
		float: none
		margin-top: 10px

	.main
		padding-top: 30px
		padding-bottom: 50px

		.card__main-left
			width: 100%
			float: none

			.view-wrap
				width: 50%
				float: left
				.view-big
					img
						width: 100%
						height: auto

				.view-small-wrap
					display: flex
					justify-content: space-between

					.view-small
						width: 20%
						margin-top: 25px
						img
							width: 100%
							height: auto
		.main__right
		
			.odering
				text-align: right
				color: #353535
				letter-spacing: 3px
				font-family: "RobotoCondensedRegular"
				margin-bottom: 60px
				form
					float: right
					margin-left: 15px

					select 
						font-size: 17px
						font-family: "RobotoCondensedRegular"
						letter-spacing: 2px
						border: none
						
			.main__pagination

				ul
					li
						display: inline-block
						padding: 3px 10px
						cursor: pointer
						margin-top: 10px

					.paginat_direct
							margin-top: 10px

		.spacific
			margin-top: 0
			float: right
			width: 48%

			ul
				li
					border-top: 1px solid #dadadd
					padding: 10px 0  10px 20px
	
		.card__main-right
			float: none
			width: 100%
			padding-top: 20px
			clear: both

			.descrip
				color: #363636
				width: 100%
				float: none
				margin-left: 1%
				margin-bottom: 30px

				.descrip__color
					width: 50%
					float: left

				.descrip__memor
					float: right
					width: 48%

				.descrip__descrip
					clear: both

			.price
				clear: both	
	
@media screen and (max-width: 530px)

	.main__right
	
		.products
			display: flex
			flex-wrap: wrap
			justify-content: flex-start 

			.product
				width: 50%
	footer	
		height: auto
		padding: 15px 0

		.f__logo_wrap
			float: none
			text-align: center
			line-height: 30px

		.f__menu_wrap
			float: right
			line-height: 30px
			float: none
			text-align: center
			margin-left: 0

		.f__contacts_wrap
			line-height: auto
			float: none
			text-align: center
			justify-content: center

			.phone-block
				background: none
				padding-left: 0

@media screen and (max-width: 375px)

	header
		.h__top

			.h__contacts_wrap

				.header__busket 
					margin-left: 0

				.phone-block
					width: 180px
	.h__body_cat
		text-align: center
		padding: 30px 0

		h1
			font-size: 38px
			letter-spacing: 10px
			font-family: "RobotoCondensedRegular"
	.main
		.card__main-left

			.view-wrap
				width: 100%
				float: left
				.view-big
					img
						width: 100%
						height: auto

				.view-small-wrap
					display: flex
					justify-content: space-between

					.view-small
						width: 20%
						margin-top: 25px
						margin-bottom: 25px
						img
							width: 100%
							height: auto

		.spacific
			float: none
			width: 100%
	
		.card__main-right

			.descrip
				.descrip__color

				.descrip__memor
					ul

						li
							width: 55px
							height: 30px
							line-height: 30px
							margin-right: 5px

				.descrip__descrip
					clear: both

			.price
				clear: both

				.price__amount 
					font-family: "OpenSansRegular"
					font-size: 48px
					padding: 30px 15px 15px

				.price_delivery
					padding: 15px

			.cross-sale
				clear: both

				.products

					li.product
						width: 100%
						box-sizing: border-box
		
		.main__right
	
			.products
				display: flex
				flex-wrap: wrap
				justify-content: flex-start 

				.product
					width: 100%
					text-align: center
	