@import "bourbon"
@import reset

+font-face("RobotoBold", "../fonts/RobotoBold/RobotoBold", $file-formats: eot woff ttf)
+font-face("RobotoRegular", "../fonts/RobotoRegular/RobotoRegular", $file-formats: eot woff ttf)
+font-face("RobotoItalic", "../fonts/RobotoItalic/RobotoItalic", $file-formats: eot woff ttf)
+font-face("RobotoCondensedRegular", "../fonts/RobotoCondensedRegular/RobotoCondensedRegular", $file-formats: eot woff ttf)
+font-face("RobotoCondensedBold", "../fonts/RobotoCondensedBold/RobotoCondensedBold", $file-formats: eot woff ttf)
+font-face("OpenSansBold", "../fonts/OpenSansBold/OpenSansBold", $file-formats: eot woff ttf)
+font-face("OpenSansRegular", "../fonts/OpenSansRegular/OpenSansRegular", $file-formats: eot woff ttf)


body
	font-family: "RobotoRegular"
	font-size: 17px
	line-height: normal
	color: #000


h2
	font-size: 16px
	text-transform: uppercase
	color: #ff7300
	font-family: "RobotoCondensedRegular"
	letter-spacing: 3px
	margin-bottom: 25px
	
h3
	font-size: 14px
	font-family: "RobotoBold"

a
	text-decoration: none

h4
	font-family: "RobotoCondensedBold"
	font-size: 16px
	letter-spacing: 3px
	color: #363636
	text-transform: uppercase
	margin-bottom: 25px

h5
	font-family: "RobotoCondensedRegular"
	font-size: 12px
	letter-spacing: 3px
	color: #363636
	text-transform: uppercase

.h_cat
	background: url(../images/header.jpg) no-repeat 0 70px
	background-size: cover

header
	color: #fff


	.h__top
		background: #0d0b0a
		overflow: hidden
		box-sizing: border-box
		height: 70px
		padding-right: 30px

.menu
	display: inline-block
	
	li
		display: inline-block
		a
			color: #fff
			padding: 0 12px
			font-family: "RobotoCondensedRegular"
			letter-spacing: 2px

.logo
	font-size: 29px
	letter-spacing: 2.5px
	text-transform: uppercase
	display: inline-block

.h__contacts_wrap
	width: 33.333%
	float: right
	height: 100%
	display: flex
	justify-content: space-between
	align-items: center

.phone-block
	background: url(../images/icon_phone.png) no-repeat 0 5px 
	overflow: hidden
	padding-left: 40px
	display: inline-block 

	.phone
		text-transform: uppercase
		float: left
		font-size: 18px
		width: 180px

		span
			margin-left: 3px

	.phone-show 
		text-decoration: underline
		margin-left: 7px
		display: inline-block
		font-size: 15px
		cursor: pointer


.header__busket 
	overflow: hidden
	width: 110px
	display: inline-block
	font-size: 15px

	a
		color: #fff
		letter-spacing: 2px

		span
			width: 25px
			height: 25px 
			border-radius: 100%
			background: #fff
			color: #000
			display: block
			float: right
			text-align: center
			line-height: 25px
			padding-left: 2px
			box-sizing: border-box

.h__menu_wrap
	width: 33.333%
	float: left
	height: 100%

	&:before 
		content: " "
		display: inline-block
		height: 100%
		width: 1%
		vertical-align: middle

.h__logo_wrap
	width: 33.333%
	float: left
	height: 100%
	display: flex
	justify-content: center
	align-items: center

.h__catalog
	background: rgba(0,0,0, 0.5)
	padding: 30px 0
	
	ul
		text-align: center
		li
			display: inline-block
			a
				font-size: 17px
				color: #fff
				letter-spacing: 2px
				padding: 0 12px

.h__body_cat
	text-align: center
	padding: 60px 0

	h1
		font-size: 43px
		letter-spacing: 10px
		font-family: "RobotoCondensedRegular"

	.h__pagination
		margin-bottom: 30px
		text-transform: uppercase
		ul
			li
				display: inline-block

				a
					color: #c1bcbc
					letter-spacing: 3px

.h__body_prod
	max-width: 1090px
	margin: 0 auto
	overflow: hidden
	padding: 60px 0 0

	h1
		font-size: 26px
		letter-spacing: 1.2px
		font-family: "RobotoCondensedRegular"
		color: #363636
		width: calc( 100% - 150px )
		float: left
	
	.h__pagination
		margin-bottom: 30px
		text-transform: uppercase
		ul
			li
				display: inline-block

				a
					color: #363636
					letter-spacing: 3px
					font-size: 13px

.main
	max-width: 1090px
	margin: 0 auto
	padding: 50px 0 90px 0 
	overflow: hidden
	box-sizing: border-box

	.main__filter
		width: 210px
		float: left

		.main__filter-title
			font-family: "RobotoCondensedBold"
			letter-spacing: 1.5px
			margin-bottom: 60px

		.main__filter-block
			margin-bottom: 60px
			form
				label
					display: block
					margin-bottom: 10px
					cursor: pointer

					span
						padding-left: 15px
	
	.main__right
	
		.odering
			text-align: right
			color: #353535
			letter-spacing: 3px
			font-family: "RobotoCondensedRegular"
			margin-bottom: 60px
			form
				float: right
				margin-left: 15px

				select 
					font-size: 17px
					font-family: "RobotoCondensedRegular"
					letter-spacing: 2px
					border: none
					
		.main__pagination
			margin-top: 115px
			overflow: hidden

			ul
				width: 75%
				text-align: center
				float: right
				li
					display: inline-block
					padding: 3px 10px
					cursor: pointer

				.paginat_direct
					border: 1px solid #ABA2A2
					padding: 3px 25px
					margin: 0px 15px
					color: #ABA2A2
				
				.direct_active
					border: 1px solid #000
					color: #000
				
				.active_pagin
					background: #000
					color: #fff

	.products
		display: flex
		flex-wrap: wrap
		justify-content: flex-start 

		.product
			width: 21.5%
			line-height: 30px
			display: flex
			flex-direction: column-reverse
			padding: 0 1.7%
			margin-bottom: 40px
			a
				img
					width: 100%

			.product__cod
				font-size: 12px

			.product__price
				font-size: 26px
				font-family: "OpenSansBold"

				span
					font-size: 14px
					vertical-align: super
					margin-left: 5px

			.product__buy
				border: 1px solid #000
				text-align: center
				font-family: "RobotoCondensedRegular"
				letter-spacing: 3.5px
				color: #000
				padding: 10px 0
				margin-top: 20px

footer
	background: #0d0b0a
	padding: 0 35px
	color: #fff
	overflow: hidden
	height: 70px
	box-sizing: border-box

	.f__logo_wrap
		float: left
		line-height: 70px

	.f__menu_wrap
		float: left
		margin-left: 60px
		line-height: 70px

	.f__contacts_wrap
		float: right
		display: flex
		height: 100%
		align-items: center




/*   product   */


.h__cod
	font-family: "OpenSansBold"
	color: #000
	width: 135px
	height: 50px
	text-align: center
	background: #ffc493
	float: right
	line-height: 50px
	font-size: 12px


.main

	.card__main-left
		width: 33.94%
		float: left

		.view-wrap
			.view-big
				img
					width: 100%
					height: auto

			.view-small-wrap
				display: flex
				justify-content: space-between

				.view-small
					width: 20%
					margin-top: 25px
					img
						width: 100%
						height: auto

	.spacific
		margin-top: 100px

		ul
			li
				border-top: 1px solid #dadadd
				padding: 10px 0  10px 20px

	.card__main-right
		float: right
		width: 64.22%

		.descrip
			color: #363636
			width: 46.42%
			float: left
			margin-left: 1%
			margin-bottom: 135px

			.descrip__color

				ul
					margin: 10px 0 20px
					overflow: hidden
					li
						width: 24px
						height: 24px
						border-radius: 100%
						float: left
						margin: 15px 10px 10px 5px

					.descrip_white
						border: 1px solid #d0d0d1
					
					.descrip_black
						background: black
						border: 1px solid black
					
					.descrip_beige
						background: #ddac6a
						border: 1px solid #ddac6a

					.active_color
						position: relative

						&:before
							content: ""
							position: absolute
							width: 32px
							height: 32px
							top: -5px
							left: -5px
							border: 1px solid #aba2a2
							border-radius: 100%

			.descrip__memor

				ul
					overflow: hidden
					margin-top: 15px
					margin-bottom: 30px

					li
						border: 1px solid #d0d0d1
						font-size: 12px 
						text-transform: uppercase
						width: 70px
						height: 40px
						line-height: 40px
						text-align: center
						letter-spacing: 3px
						float: left
						margin-right: 15px

					.active_memor
						border: 1px solid #aba2a2	

			.descrip__descrip

				p
					font-family: "OpenSansRegular"
					margin-bottom: 25px
					font-size: 14px

		
		.price
			width: 48%
			float: right
			box-sizing: border-box
			border: 1px solid #d0d0d1

			.price__amount 
				font-family: "OpenSansRegular"
				font-size: 48px
				padding: 50px 30px 30px

				span 
					font-size: 24px
					vertical-align: super
					margin-left: 8px

				.price__buy
					font-family: "RobotoCondensedRegular"
					font-size: 18px
					letter-spacing: 3.5px
					background: #f7a96a
					text-align: center
					height: 50px
					line-height: 50px
					text-transform: uppercase
					margin-top: 20px

					a
						color: #fff
						display: block

			.price_delivery
				border-top: 1px solid #d0d0d1
				padding: 30px

				table
					margin-top: 20px
					width: 100%

					tr
						td
							padding: 5px 15px 5px 0

							&:first-child
								width: 65%

		.cross-sale
			clear: both

			.products

				li.product
					width: 33.333%
					box-sizing: border-box




@import media